<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue parmi nous !</h1>
    <p>
      Tu t'es inscrit sur notre site consacré aux événements de Montpellier en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi <a href="<% @url %>">ici</a>.
    </p>
    <p> À très vite sur https://whispering-meadow-36820.herokuapp.com/ !
  </body>

</html>