<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Salut <%= User.find_by(@admin_id).first_name %> et bienvenue parmi nous !</h1>
    <p>
      Un nouvel utilisateur s'est inscrit à ton événement !.
    </p>
    <p> À très vite sur https://whispering-meadow-36820.herokuapp.com/ !
  </body>

</html>